language: node_js
node_js:
- '10'
cache:
  directories:
  - node_modules
jobs:
  include:
  - stage: tests
    script:
    - npm run test
  - stage: lint
    script:
    - npm run check-format
  - stage: Publish patch
    if: "(NOT type IN (pull_request)) AND (branch = develop)"
    script:
      - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" >> $HOME/.npmrc 2> /dev/null
      - npm run publish-develop

